@font-face {
  font-family: "Kally Dreams";
  src: url("/fonts/Kally_dreams.otf") format("opentype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-slate-900;
  }
  body {
    @apply bg-slate-100;
  }
}

.ais-SearchBox-form::before {
  margin-top: 0 !important;
  margin-left: 10px !important;
}
